.App {
  padding: 5px;
  min-height: 100vh;
  position: relative;
}

.home-layout {
  margin: auto;
  color: BLACK;
  max-width: 900px;
}

.MuiButton-root {
  color: BLACK !important;
}

.Mui-selected {
  color: gold !important;
}

.MuiTabs-indicator {
  background-color: gold !important;
}

.MuiTab-textColorPrimary {
  color: BLACK !important;
}

.TextRight {
  text-align: right;
}

.TextLeft {
  text-align: left;
}

.MuiSvgIcon-root {
  color: BLACK;
}

.MuiButton-outlined {
  border: 1px solid BLACK !important;
}

.MuiIconButton-root {
  color: BLACK !important;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.AboutHeader {
  margin-left: -40px !important;
}

.AboutPage p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.AboutPage p:not(:first-child) {
  padding-left: 20px;
}

/*MEDIA QUERY SECTION FOR MOBILE OPTIMAZATION*/

@media only screen and (max-width: 750px) {
  .CenterModal {
    width: 100%;
  }
  .Specialties {
    display: flex;
  }
  .home-layout .AboutHeader {
    margin-left: 0px !important;
  }

  .home-layout .AboutSection {
    margin-left: 0px !important;
  }
}
