/*Nav bar styling*/
.FlexEnd {
  flex-direction: row-reverse;
  align-items: center;
  display: flex;
  width: 100%;
}

.NavBar {
  display: flex;
  align-items: center;
  height: 75px;
}

/*Styling for the root container*/
.Container {
  width: 100%;
  height: 99vh !important;
}

body {
  overflow: hidden;
}

//styling for the crypto symbol
#CryptoSymbol {
  margin-right: 30px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: grey;
  color: white;
  padding: 3px;
}

//styling for the crypto icon
.CrytpoIcon {
  display: inline;
  vertical-align: middle;
}

/*classes used to style changes in 24 hrs change column */
.ColorRed {
  color: red !important;
}
.ColorGreen {
  color: Green !important;
}

//style for Fiat dropdown
.Fiat {
  vertical-align: bottom !important;
}

body.light-mode {
  background-color: #fff;
  color: black;
  transition: background-color 0.3s ease;
}

/*styling for dark mode */
$DarkModeText: white;
$DarkModeBackgroundColor: #1a1919;

body.dark-mode {
  background-color: $DarkModeBackgroundColor;
  color: $DarkModeText;
  transition: background-color 0.3s ease;

  .MuiTableCell-head {
    color: $DarkModeText;
  }
  .MuiFormLabel-root {
    color: $DarkModeText;
  }

  .MuiTypography-root {
    color: $DarkModeText;
  }

  .MuiDivider-root {
    background-color: $DarkModeText;
  }

  .recharts-tooltip-label {
    color: $DarkModeBackgroundColor;
  }
  .MuiNativeSelect-select {
    background-color: $DarkModeBackgroundColor;
  }

  .MuiButton-label {
    color: $DarkModeText;
  }
  .MuiInputBase-root {
    color: $DarkModeText;
  }
  .MuiTableCell-body {
    color: $DarkModeText;
  }

  .MuiNativeSelect-icon {
    color: $DarkModeText;
  }

  .MuiNativeSelect-select:not([multiple]) option,
  .MuiNativeSelect-select:not([multiple]) optgroup {
    background-color: $DarkModeBackgroundColor;
  }

  .MuiPaper-root {
    color: $DarkModeText;
    background-color: $DarkModeBackgroundColor;
  }

  .MuiIconButton-root {
    color: $DarkModeText;
  }

  .ChartContainer {
    background-color: $DarkModeBackgroundColor;
  }

  .MuiExpansionPanel-root:before {
    background-color: $DarkModeText;
  }

  .MuiTableBody-root .MuiTableRow-root:hover {
    background-color: darkcyan;
  }

  .MuiPaper-elevation1 {
    box-shadow: 0px 2px 1px -1px $DarkModeText, 0px 1px 1px 0px $DarkModeText,
      0px 1px 3px 0px $DarkModeText;
  }

  .ColorRed {
    color: lightcoral;
  }
}

.center {
  text-align: center;
  padding-bottom: 450px;
}

.MuiTableBody-root .MuiTableRow-root {
  transition: 1s all;
}

.MuiTableBody-root .MuiTableRow-root:hover {
  cursor: pointer;
  transition: 1s all;
  background-color: #e3fdff;
}

//defines styles in modal element
.ModalStyle {
  align-items: center;
  display: flex;
  overflow-y: auto;
  justify-content: center;
  height: 100%;
  border: none;
  //styles paper element
  .ModalPaper {
    width: 900px;
    outline: none;
    padding: 10px;
    margin: 20px;
  }
  //style for paper element in mobile
  .ModalPaperMoble {
    margin-top: 625px;
  }

  #ModalIcon {
    text-align: center;
  }
  //container for modal graph
  .ChartContainer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 300px;
    background-color: #fff;
  }
}

.pointer {
  cursor: pointer;
}

.MuiButton-contained {
  background-color: darkcyan !important;
}
